<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/reset.css">

    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/main.css">

    <script src="../static/lib/popper.min.js"></script>
    <script src="../static/lib/jquery.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>

    <script src="../static/js/shared/httpService.js"></script>
    <script src="../static/js/modules/card.js"></script>
    <script src="../static/js/app.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="wrap"></div>
</body>
</html>
